.nav-main{
    background: linear-gradient(to right, #1b1919, #4b4a4a);
}


.nav-menu{
    color: #fff !important;
    font-size: 20px;
    font-weight: 400;

}

.nav-menu:hover{
    color: rgb(67, 150, 245) !important;
}