.nav-main{
    background: linear-gradient(to right, #6d6d6d, #f8e7e7);
}


.nav-menu{
    color: rgb(12, 11, 11) !important;
    font-size: 20px;
    font-weight: 400;

}

.nav-menu:hover{
    color: #089ab8 !important;
}