.order-btn{
   

    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
}
.order-btn:hover{
    background-color: #fb524f;
}
.price{
    background-color: #fb524f;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    border-radius: 5px;
    display: inline-block;
}
.product-card{
    padding: 20px;
    background: #fff;
    box-shadow: 3px 2px 30px #fff;
    transition: .5s;
}
.product-card img{
    border-radius: 10px;
}
.product-card:hover{
    border: 1px solid #ddd;
}